.body {
    margin-top: 30px;
    color: #ffffff !important;
}
body::-webkit-scrollbar {
    display: none;
  }
.margin {
    /* padding: 50px; */
    /* padding-left: 90px;
    padding-right: 90px; */
    /* margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px; */
    border-collapse: collapse;
}
.info{
    background-color: #003D74;
    border-radius: 5px;
}
.title a{
    text-decoration: none;
}
.img {
    margin-left: 40px;
    border-radius: 90px;
    height: 147px;
}
.imgBorder{
    border-radius: 5px;
    margin-left: 0px;
}

.name {
    font-size: 65px;
    font-weight: 500;
    color: #ffffff;
}
.title{
    color: #003D74;
    font-weight: 500;
    font-size: 24px;
}
.about-me{
    justify-content: space-around;
}
.skill-name, .software-name{
    color: #003D74;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .8px;
}
/* mainBox */
.mainBox{
}

.contentmargin {
    margin-left: -15px;
    width: 100%;
}

.para {
    color: #ffffff;
    font-weight: 500;
    font-size: 27px;
}

.para::first-letter {
    margin-left: 5px;
}
.technical{
    background-color: #eceff1;
    height: 100vh;
}
.form {
    margin-left: 30px;
    margin-right: 30px;
}

.detailicon {
    align-content: center;
    align-items: center;
    margin-right: 5px;
}
.contact {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 400;
}

.head {
    color: #003D74;
    font-size: 24px;
    font-weight: 500;
}

.headborder {
    width: 100%;
    letter-spacing: .6px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.content::first-letter {
    margin-left: 30px;
}

.edu {}

.edu .education {
    font-weight: 400;
}

.edu .edudetail {
    margin-top: -10px;
}
/* work experience */
.workContent{
    font-weight: 800;
    font-size: 20px;
}
.workCompany{
    margin-left: 0px;
}
.skills{
    margin-left: 0px;
    font-size: 20px;
}
.skillList{
    margin-right: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
    text-align: right;
}
.skillbar{
    padding:5px;
}
/* Project */
.projectTitle{
    font-weight: 400;
    letter-spacing: 1.5px;
}

/* certification */
.certificationHead{
    font-weight: 400;
}

/* Hobbies */
.hobimg{
      margin-top: -4px;
}
 /* Declaration */
 .contentDec{
    margin-right: 0px;
 }
 .contentDec::first-letter{
     margin-left: 40px;
 }

 .namesign{
     text-align: right;
     margin-left: 530px;
 }
 .place{
     margin-left: 15px;
 }


.progress{
    background-color: #ffffff;
}
.progress-bar{
    background-color: #003D74;
}

.degree{
    font-weight: 600;
}
.certificate{
    color: #000000;
    text-decoration: none;
}
.certificate a{
    text-decoration: none;
    color: #000000;
}
.software-progress-bar{
    width: 75%;
    display: flex;
    justify-content: space-between;
}